@model IEnumerable<Pinboard.Models.Pin>

@{
    ViewBag.Title = "Home Page";
}
@section header {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
    <style type="text/css">
        .jumbotron {
            padding: 20px;
        }

        .btn-group {
            margin-right: 20px;
        }
    </style>
}

@if (ViewBag.Logged == true) {
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h3>Pinboard</h3>
        </div>
        <div class="col-md-2">
            <div class="btn-group" id="dropdown-home">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Choose a pinboard <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/">All pinboards</a></li>
                    @foreach (var item in ViewBag.Boards)
                    {
                        <li><a href="/?board=@item.BoardId">@item.Title</a></li>
                         
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-warning" type="button" onclick="location.href='/board/create'">Create new board</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="button" onclick="location.href='/pin/create'">Create new pin</button>
        </div>

    </div>
</div>
}

<div class="container">
    <div class="row">
        <div id="video" class="col-md-4">
            @foreach (var item in Model)
            {
                if (item.Type.Name == "Video")
                {
                <div class="panel">
                    <embed
                    width="350" height="225"
                    src="http://www.youtube.com/v/@item.Url.Substring(31, 11)"
                    type="application/x-shockwave-flash">
                    </embed>
                </div>
                }
            }
        </div>
        <div id="picture" class="col-md-4">
            @foreach (var item in Model)
            {
                if (item.Type.Name == "Picture")
                {
                <div class="panel">
                    <img width="350" src = "@item.Url"
                     alt = "@item.Title" />
                </div>
                }
            }
        </div>
        <div id="audio" class="col-md-4">
            @foreach (var item in Model)
            {
                if (item.Type.Name == "Audio")
                {
                <div class="panel">
                    <h3>
                        <div class="label label-primary"><b>@item.Title</b></div>
                    </h3>
                    <audio class="audio" controls>
                        <source src="@item.Url" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                }
            }
        </div>
    </div>
</div>

