@model Pinboard.Models.Pin

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pin</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeId, "Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypeId", "Select")
            @Html.ValidationMessageFor(model => model.TypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Board, "Board")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BoardId" , "Select")
            @Html.ValidationMessageFor(model => model.Board.BoardId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
