@model IEnumerable<Pinboard.Models.Pin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Type
            </th>
            <th>Title
            </th>
            <th>User
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Type.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PinId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PinId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PinId })
                </td>
            </tr>
        }

    </table>
</div>

